.title {
    margin-bottom: 1rem;
}

.image {
    width: 7rem;
    height: auto;
    border-radius: 100%;
    border: 2px solid black;
}

.paragraphs {
    margin-top: 1rem;
    width: 50%;
    margin-left: 25%;
}
.paragraphs > p {
    margin-bottom: 1rem;
}